@model List<VyBillettWebApp.Models.Databasemodeller.Bruker>
@{
    ViewBag.Title = "Liste";
}

<h2>Liste</h2>

<table id="table" class="table">

    <tr>
        <th>
            id
        </th>
        <th>
            brukernavn
        </th>
        <th>
            passord
        </th>
        <th>
            opprettet
        </th>
        <th>
            salt
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr id="row">
    <td>
        @item.bruker_id
    </td>
    <td>
        @item.e_postadresse
    </td>
    <td>
        @item.passord
    </td>
    <td>
        @item.dato
    </td>
    <td>
        @item.salt
    </td>

</tr>
    }
</table>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Pikaday/pikaday.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/stasjonerdata.js"></script>


}
<a href="~/Views/Home/Index.cshtml">Kjøp ny billett</a>

