@model VyBillettWebApp.Models.BestillingViewModel

@{
    ViewBag.Title = "Bestill billett";
}

<h2 class="h2">Hvor vil du reise?</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
     
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.fra, htmlAttributes: new { @class = "control-label col-md-2 fontforboks" })
           
                @Html.EditorFor(model => model.fra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fra, "", new { @class = "text-danger test" })
            </div>
        </div>

            <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.til, htmlAttributes: new { @class = "control-label col-md-2 fontforboks" })
        
                @Html.EditorFor(model => model.til, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.til, "", new { @class = "text-danger test" })
            </div>
        </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.antall_barn, htmlAttributes: new { @class = "control-label col-md-2 fontforboks" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.antall_barn, new { htmlAttributes = new { @class = "form-control antall" } })
                @Html.ValidationMessageFor(model => model.antall_barn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.antall_studenter, htmlAttributes: new { @class = "control-label col-md-2 fontforboks" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.antall_studenter, new { htmlAttributes = new { @class = "form-control antall" } })
                @Html.ValidationMessageFor(model => model.antall_studenter, "", new { @class = "text-danger" })
            </div>
            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.antall_voksne, htmlAttributes: new { @class = "control-label col-md-2 fontforboks" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.antall_voksne, new { htmlAttributes = new { @class = "form-control antall" } })
                @Html.ValidationMessageFor(model => model.antall_voksne, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.reise_dato_tid, htmlAttributes: new { @class = "control-label col-md-2 fontforboks" })
            <div class="col-md-10">
                
                    @Html.EditorFor(model => model.reise_dato_tid, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.reise_dato_tid, "", new { @class = "text-danger" })
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Bestill Billett" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<link href="~/Content/Pikaday/pikaday.css" rel="stylesheet" />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Pikaday/pikaday.js"></script>
    <script>
        var picker = new Pikaday(
            {
                field: document.getElementById('datepicker'),
                minDate: new Date(),
                onSelect: function () {
                    console.log(this);
                }
            });
    </script>
}
