@model VyBillettWebApp.Models.BestillingViewModel
@{
    ViewBag.Title = "View";
}

    <div class="container-fluid">

        <!--Innlogging-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Logg inn</button>

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Logg inn</h4>
                                </div>
                                <div class="modal-body">
                                    <!--Innloggingsskjema-->
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })                
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(model => model.brukernavn, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.brukernavn, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.brukernavn, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            @Html.LabelFor(model => model.passord, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.passord, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.passord, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 id="header">
                    Hei, hvor vil du reise?
                </h2>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <!--Fra og til-->
            <div class="row rad">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.fra, htmlAttributes: new { @class = "control-label fontforboks" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.fra, "fra", new { htmlAttributes = new { @class = "form-control-strekning", @placeholder = "Hvor vil du reise fra?" } })
                                        @Html.ValidationMessageFor(model => model.fra, "", new { @class = "text-danger" })

                                        <div id="myDropdownFra" class="dropdown-content">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--her var dropdown-->

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.til, htmlAttributes: new { @class = "control-label fontforboks" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.til, new { htmlAttributes = new { @class = "form-control-strekning", @placeholder = "Hvor vil du dra?" } })
                                        @Html.ValidationMessageFor(model => model.til, "", new { @class = "text-danger" })
                                        <div id="myDropdownTil" class="dropdown-content">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Her skal være tur-retur greier-->
            <div class="row rad">
                <div class="col-md-12">
                    <input type="radio" name="turRetur" id="enVei" class="radioknapper" checked />
                    <label class="fontforboks radiolabel">En vei</label>
                    <input type="radio" name="turRetur" id="knappretur" class="radioknapper" />
                    <label class="fontforboks radiolabel">Tur / Retur</label>
                </div>
            </div>

            <div class="row rad">
                <div class="col-md-12">
                    <div class="row">
                        <!--Her skal være utreise dato og tid-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.reise_dato, htmlAttributes: new { @class = "control-label fontforboks" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.reise_dato, new { htmlAttributes = new { @class = "datovelger", @id = "datepicker" } })
                                        @Html.ValidationMessageFor(model => model.reise_dato, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        <select id="timepicker" class="tidvelger">
                                        </select>
                                        @Html.EditorFor(model => model.reise_dato_tid, new { htmlAttributes = new { @class = "hidden" } })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Her skal være retur dato og tid-->
                        <div class="col-md-6" id="retur">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.reise_dato, "Retur", htmlAttributes: new { @class = "control-label fontforboks" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.retur_dato, new { htmlAttributes = new { @class = "datovelger", @id = "datepicker2" } })
                                    </div>
                                    <div class="col-md-3">
                                        <select id="timepicker2" class="tidvelger">
                                        </select>
                                        @Html.EditorFor(model => model.retur_dato_tid, new { htmlAttributes = new { @class = "hidden" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--Billettyper-->

            <div class="row rad">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.antall_voksne, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.antall_voksne, new { htmlAttributes = new { @class = "form-control antall hidden" } })
                                @Html.ValidationMessageFor(model => model.antall_voksne, "", new { @class = "text-danger" })
                                <div class="qty mt-5">
                                    <span class="minus bg-primary increment_btn">-</span>
                                    <input class="count input_antall" name="qty" value="0">
                                    <span class="plus bg-primary increment_btn">+</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.antall_barn, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.antall_barn, new { htmlAttributes = new { @class = "form-control antall hidden" } })
                                @Html.ValidationMessageFor(model => model.antall_barn, "", new { @class = "text-danger" })
                                <div class="qty mt-5">
                                    <span class="minus bg-primary increment_btn">-</span>
                                    <input class="count input_antall" name="qty" value="0">
                                    <span class="plus bg-primary increment_btn">+</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.antall_studenter, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.antall_studenter, new { htmlAttributes = new { @class = "form-control antall hidden" } })
                                @Html.ValidationMessageFor(model => model.antall_studenter, "", new { @class = "text-danger" })
                                <div class="qty mt-5">
                                    <span class="minus bg-primary increment_btn">-</span>
                                    <input class="count input_antall" name="qty" value="0">
                                    <span class="plus bg-primary increment_btn">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row rad">
                <div class="form-group">
                    <div class="col-md-10">
                        <input id="submit_buy_btn" type="submit" value="Kjøp Billett" class="btn btn-primary" />
                    </div>
                </div>
            </div>


        }
    </div>
<link href="~/Content/CUSTOMVY.CSS" rel="stylesheet" />
<link href="~/Content/Pikaday/pikaday.css" rel="stylesheet" />



<div>
    @Html.ActionLink("Back to List", "Liste")
</div>


@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Pikaday/pikaday.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/stasjonerdata.js"></script>
    <script src="~/Scripts/homepage.js"></script>
    <script src="~/Scripts/visRetur.js"></script>

}

