@model List<VyBillettWebApp.Models.BestillingViewModel>
@{
    ViewBag.Title = "Liste";
}

<h2>Liste</h2>

<table class="table">

    <tr>
        <th>
            Fra
        </th>
        <th>
            Til
        </th>
        <th>
            Utreise
        </th>
        <th>
            Antall voksne
        </th>
        <th>
            Antall barn
        </th>
        <th>
            Antall studenter
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.fra
            </td>
            <td>
                @item.til
            </td>
            <td>
                @item.reise_dato_tid
            </td>
            <td>
                @item.antall_voksne
            </td>
            <td>
                @item.antall_barn
            </td>
            <td>
                @item.antall_studenter
            </td>
        </tr>
    }
</table>
